.footer {
  margin: 0.5em auto;
  padding: 0.5em 0;
  text-align: center;
}

.footer-txt {
  font-family: "Runda", sans-serif;
  color: #ddd;
  font-size: 1em;
  padding-bottom: 1em;
}

.fa {
  text-align: center;
  margin: 0.75em 1em;
  color: #59656f;
  width: 1.5em;
}

i:hover {
  color: #c97c5d;
}

.footer ul {
  list-style-type: none;
  margin: 0.5em auto;
  padding: 0;
}

.footer li {
    font-family: "Runda", sans-serif;
    padding: 0.75em 0;
}
