form {
  align-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 1.5em;
}

.form-all {
  border: #c97c5d .15em solid;
  border-radius: 2em;
  padding: 2em 2em 3em;

}

.input-field {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
};

